*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
     scroll-behavior: smooth;
}
p{
    font-size: 16px;
    color: #111111;

}
.container{
    width: 100%;
    height: 100%;

}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.home .content{
    width: 900px;
   text-align: center;
}
.content h1{
    font-size: 5em;
    color: #ffffff;

}
.content p{
  color: #ffffff;
  margin-bottom: 40px;

}
.btn{
    /* margin-top: 60px; */
    color: #ffffff;
    background-color: #ff0156;
    padding: 10px 18px;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.6s all linear;
}
.btn:hover{
    transform: scale(1.3);
    letter-spacing: 4px;
}
header{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.5s;

}
header .logo{
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
}
header .logo span{
    color: #ff0156;
    font-size: 29px;
}
header .navigation{
    display: flex;
    position: relative;
}
header .navigation li{
    margin-right: 30px;
    list-style: none;
}
header .navigation li a{
    text-decoration: none;
    color: #cecece;
    transition: 0.5s;

}
header .navigation li a:hover{
    color: #ff0156;
}
header.sticky{
    background-color: #ffffff;
    padding: 10px 100px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.16);
}
header.sticky .logo{
    color: #111111;
}
header.sticky .navigation li a{
    color: #111111;
}
header.sticky .navigation li a:hover{
    color: #ff0156;
}

.about{
    width: 100%;
    height: 100%;
    padding: 10px 100px;
    margin-top: 100px;
    margin-bottom: 100px;

}
.about .row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row .left{
    width: 50%;
    height: 100%;
    padding-right: 15px;
}
.row .left h2{
    color: #111111;
    font-size: 2em;

}
.row .left h2 span{
    color: #ff0156;
    font-size: 2.1em;
}
.left p{
    line-height: 1.3;
}
.row .right{
    width: 50%;

}
.row .right img{
    width: 100%;
    height: 100%;
}

.menu{
    width: 100%;
    height: 100%;

}
  .contents{
   flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents h1{
   font-size: 30px;
   color: #111111;
   padding-bottom: 13px;
   font-weight: 400;
   letter-spacing: 1px;

}
.contents h1 span{
    color: #ff0156;
    font-size: 35px;
    font-weight: 700;
}
.contents p{
   font-size: 19px;
   padding-bottom: 25px;
}
.cards{
    width: 100%;
    height: 100%;
    padding: 10px 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.cards .card{
    width: 340px;
    margin: 20px;
    border: 15px solid #ffffff;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.16);
}
.cards .card img{
    width: 100%;
}
.cards .card p{
    color: #111111;
    padding-top: 10px;
    font-weight: 600;
}
.expert{
   width: 100%;
   height: 100%;
   margin-top: 50px;
   margin-bottom: 50px;
}
.expert .cards2 {
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards2 .crd{
    width: 250px;
    margin: 15px;
}
.crd img{
    width: 100%;
}
.crd p{
    color: #111111;
    font-weight: 600;
    padding-top: 10px;
}
.testimonals{
    width: 100%;
    height: 100%;
    background-image: url("images/bg2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;

}
.testimonals .light h1{
    color: #ffffff;
}
.testimonals .light p{
    color: #ffffff;
}
.testimonals .boxes{
   padding: 10px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
}
.boxes .box{
    width: 260px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px 30px;
    margin: 20px;
}
.boxes .box img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.boxes .box p{
    color: #111111;
    line-height: 1.2;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
}
.boxes .box h3{
    color: #ff0156;
}

.contact{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("images/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}
.contact .form{
    margin-left: 100px;
    margin-top: 50px;
    padding: 50px 25px 100px 25px;
    width: 350px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.16);
}
.form h2{
    color: #000000;
    font-size: 22px;
   margin-bottom: 15px;
}
.form input{
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #696969;
}
.form textarea{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 12px;
    outline: none;
    border: 1px solid #696969;
    
}
.contact .footer{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.contact .footer p{
    color: #000000;
    font-size: 19px;
    word-spacing: 3px;
}

.contact .footer p a{
    color: #ff0156;
    text-decoration: none;
    font-weight: 600;
}
header .menu{
    font-size: 1px;
}

@media (max-width: 991px){
    header,
    header.sticky
    {
        padding: 10px 40px;
    }
    header .navigation{
        display: none;
    }
}